<a routerLink="/">
    <div class="side-nav bg-image-holder">
        <fa-icon [icon]="faTimes" class="close-icon"></fa-icon>
        <h2 class="head-title">Feedback</h2>
    </div>

</a>
<div class="content-container">
    <div class="title-page">
        <h2>What <span class="title-special">People</span> Say!</h2>
        <img src="./../../../assets/images/dvider.png" alt="">
    </div>


    <div class="people-say-container">
        <figure class="snip1390">
            <img src="./../../../assets/images/rafee.jfif" alt="profile-sample3" class="profile" />
            <figcaption>
                <h2><a style="text-decoration: none ; color: #53242a;" href="https://www.linkedin.com/in/rafeekuet">MD
                        Rafee</a> </h2>
                <h4 style="color: white">Upwork Clint</h4>
                <blockquote>
                    Syed Asad is the best in IOS field. He kept his
                    commitment about the deadline and helped me solve my problem taking authority. I
                    highly recommend him.
                </blockquote>
            </figcaption>
        </figure>
        <figure class="snip1390 hover"><img src="./../../../assets/images/Peter.jfif" alt="profile-sample5"
                class="profile" />
            <figcaption>
                <h2> <a style="text-decoration: none ; color: #53242a;"
                        href="https://www.linkedin.com/in/peteralbinforsstrom">Peter Albin</a></h2>
                <h4 style="color: white">Upwork Clint</h4>
                <blockquote>
                    In the development of our Meteor app, such as handling
                    and advising us on all API
                    related tasks and app deployment. He originally and proactively provided us with
                    local builds for each mobile OS to demonstrate that he was the right partner for our
                    deployment needs. Since he joined our team, Asad has been incredibly responsive with
                    all requests we have asked of him, as we march towards our public release. Asad has
                    been instrumental in helping us iron out implementing social media sign-ins, Google
                    map APIs, iOS-specific quirks and administering both of our companies mobile
                    developer accounts. We would not be agead of schedule if it weren’t for Asad, and we
                    hope to keep him on our team for many versions to come.
                </blockquote>
            </figcaption>
        </figure>
    </div>

    <div class="image-upwork-feedback">
        <div class="title-page my-3">
            <h2>What <span class="title-special">Upwork Clintes</span> Say!</h2>
            <img src="./../../../assets/images/dvider.png" alt="">
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="img-box">
                    <img src="./../../../assets/images/1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-box">
                    <img src="./../../../assets/images/2.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-box">
                    <img src="./../../../assets/images/3.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-box">
                    <img src="./../../../assets/images/4.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-box">
                    <img src="./../../../assets/images/5.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-box">
                    <img src="./../../../assets/images/6.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-box">
                    <img src="./../../../assets/images/7.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-box">
                    <img src="./../../../assets/images/8.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-box">
                    <img src="./../../../assets/images/9.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-box">
                    <img src="./../../../assets/images/10.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-box">
                    <img src="./../../../assets/images/11.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- <section class="section-primary t-bordered">
        <div class="container">
            <div class="row testimonial-three testimonial-three--col-three">
                <div class="col-md-4 testimonial-three-col">
                    <div class="testimonial-inner">
                        <div class="testimonial-image" itemprop="image">
                            <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                        </div>
                        <div class="testimonial-content">
                            <p>
                                Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                                eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                                felis eu pede mollis pretium.
                            </p>
                        </div>
                        <div class="testimonial-meta">
                            <strong class="testimonial-name" itemprop="name">Anna Vandana</strong>
                            <span class="testimonial-job-title" itemprop="jobTitle">CEO</span> – <a class="testimonial-link"
                                href="#">Media Wiki</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4 testimonial-three-col">
                    <div class="testimonial-inner">
                        <div class="testimonial-image" itemprop="image">
                            <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                        </div>
    
                        <div class="testimonial-content">
                            <p>
                                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
                                mollis pretium. Integer tincidunt. Cras dapibus.
                            </p>
                        </div>
    
                        <div class="testimonial-meta">
                            <strong class="testimonial-name" itemprop="name">Anna Vandana</strong>
                            <span class="testimonial-job-title" itemprop="jobTitle">CEO</span> – <a class="testimonial-link"
                                href="#">Media Wiki</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4 testimonial-three-col">
                    <div class="testimonial-inner">
                        <div class="testimonial-image" itemprop="image">
                            <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar3.png">
                        </div>
                        <div class="testimonial-content">
                            <p>
                                Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                                eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                                felis eu pede mollis pretium.
                            </p>
                        </div>
                        <div class="testimonial-meta">
                            <strong class="testimonial-name" itemprop="name">Anna Vandana</strong>
                            <span class="testimonial-job-title" itemprop="jobTitle">CEO</span> – <a class="testimonial-link"
                                href="#">Media Wiki</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4 testimonial-three-col">
                    <div class="testimonial-inner">
                        <div class="testimonial-image" itemprop="image">
                            <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar4.png">
                        </div>
    
                        <div class="testimonial-content">
                            <p>
                                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
                                mollis pretium. Integer tincidunt. Cras dapibus.
                            </p>
                        </div>
    
                        <div class="testimonial-meta">
                            <strong class="testimonial-name" itemprop="name">Anna Vandana</strong>
                            <span class="testimonial-job-title" itemprop="jobTitle">CEO</span> – <a class="testimonial-link"
                                href="#">Media Wiki</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4 testimonial-three-col">
                    <div class="testimonial-inner">
                        <div class="testimonial-image" itemprop="image">
                            <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar5.png">
                        </div>
                        <div class="testimonial-content">
                            <p>
                                Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                                eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                                felis eu pede mollis pretium.
                            </p>
                        </div>
                        <div class="testimonial-meta">
                            <strong class="testimonial-name" itemprop="name">Anna Vandana</strong>
                            <span class="testimonial-job-title" itemprop="jobTitle">CEO</span> – <a class="testimonial-link"
                                href="#">Media Wiki</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4 testimonial-three-col">
                    <div class="testimonial-inner">
                        <div class="testimonial-image" itemprop="image">
                            <img width="180" height="180" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                        </div>
    
                        <div class="testimonial-content">
                            <p>
                                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
                                mollis pretium. Integer tincidunt. Cras dapibus.
                            </p>
                        </div>
    
                        <div class="testimonial-meta">
                            <strong class="testimonial-name" itemprop="name">Anna Vandana</strong>
                            <span class="testimonial-job-title" itemprop="jobTitle">CEO</span> – <a class="testimonial-link"
                                href="#">Media Wiki</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <ngx-scrolltop>
        ↑
    </ngx-scrolltop>
</div>

<footer class="footer">
    <p>@2021 DevA2Z. All rights reserved. Design by DevA2Z</p>
</footer>